.maincontainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 800px;
    flex: 1;
   margin: 55px;
   

 

}

.nav {
    display: flex;
   
    justify-content: space-between;
 
   
}
.nav h2{

margin-top: 0px;
color: #0F3F62;
font-family: Avenir;
font-size: 24px;
font-style: normal;
font-weight: 800;
top: 0px;
}
.nav h6{
    margin: 0;
    font-size: 13px;
}


.got .icon{
    color:rgba(15, 63, 98, 1);
    position: absolute;
    margin: 30px;
    border: 1.5px solid rgba(15, 63, 98, 1)
    rgba(15, 63, 98, 1);
    width: 15.493px;
height: 16px;
flex-shrink: 0;
}
.nav input[type="text"] {
    margin: 20px;
    border: none;
    border-radius: 39px;
    padding-left: 4px;
    color: #8695A0;
text-align: center;
font-family: Avenir;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.28px;


}

.App-logo {
    justify-content: center;
    height: 30vmin;
    pointer-events: none;
    border-radius: 15px;
    background-color:rgba(224, 243, 243, 1);
    width: 213.604px;
height: 195px;
flex-shrink: 0;
  }
  .images{
    display: flex;
   
   
   

     }
    .img{
       background-color: #FFFFFF;
        float: left;
       justify-content: center;
        margin: 6px;
        border-radius: 10px;
        color: rgba(15, 63, 98, 1);
        width: 220px;
       

    }
    
